body {
  width: 100vw;
  height: 100vh;
}

.myForm {
  width: 100%;
  height: 100vh;
}


.css-f7weyc {
  background: none !important;
}


.css-yj8gbd .multipleChoice__optionWrapper {
  max-width: 230px !important;
}

.renderer-components-form-footer {
  width: 320px;
  left: unset !important;
}
